.match-parent {
    width: 100%;
    height: 100%;
    background: #191a1a;
}

.mapa {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.bg-maps {
    position: relative;
    display: flex;
    left: 85%;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    background: rgba(25,26,26,0.6);
}

.bg-maps li {
    background: #313131!important;
}

#mensajes-sockets {
    height: 100%;
    overflow-y: auto;
}